R/archive.R
vignettes/examples/*
.Rhistory
.Rbuildignore
.Rproj.user/
*.DS_Store
*.log
*.rds
*.pdf
*.RData
tests/testthat/log_files/
tests/testthat/*.log
tests/testthat/*.pdf
tests/testthat/*.res
R_Archive/*
*multi*
